**/.settings/
**/target/
**/.classpath
**/.project
**/.apt_*
/daemon/testusers.properties
**/*.log
/web/logs/
/web/etc/tnfsd/passwd.properties
/web/etc/
/daemon/etc/
/sdk/src/main/packages/configuration/tnfsjd/server-key.b64
